@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

* {
    margin: 0;
}

body {
    background: white;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    position: fixed;
    background-color: #fff;
    top: 0;
    margin-bottom: 4rem;

}

header img {
    width: 10%;
}

main{
    margin: 5rem 0 ;
}
.navigation ul {
    list-style: none;
    display: flex;
  gap: 1rem; 
}


.navigation ul>li>a {
    text-decoration: none;
    color: #000;
}

.navigation ul>li>a:hover {
    text-decoration: none;
    color: #00b172;
}



.music {
    height: 600px;
    background-image: url(/image/landing.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.music p {
    margin-bottom: 0.5rem;
    font-weight: 100;
    font-size: 2rem;
}

.card img {
    width: 20%;
}
.ability{
    justify-content: space-around;
}
.ability h2{
    text-align: center;
    padding: 2rem 0;
    text-decoration: underline #00b172;
    text-underline-offset: 0.5rem;
    font-size: 2rem;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}


.card-comtainer {
    display: flex;
    padding: 2rem 0rem;
}

.card h3 {
    color: #00b172;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card p {
    max-width: 150px;
    text-align: center;
    font-weight: 100;
    font-style: 1, 5rem;
}

.kanye {
    height: 680px;
    background: #00b172;
    background-image: url(/image/spotify-icon-white.png);
    background-position: center center;
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 1rem 0rem;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: space-between;  
   padding: 0rem 5rem 0rem 5rem;

}

.kanye img {
    height: 480px;
} 
.text-container h3{
    text-decoration: underline #fff;
    text-underline-offset: 0.5rem;
    font-size: 2rem;
}

.text-container p:nth-of-type(odd){
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-container p:nth-of-type(even){
    font-weight: 100;
    font-size: 1rem;
    max-width: 200px;
    margin-bottom: 1rem;
}
.verde{
    margin: 1.5rem;
    padding-top: 2rem;
}