* {
  margin: 0;
  padding: 0;
}

body{ 
font-family: 'Open Sans', sans-serif;
font-size: 18px;
 padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

/* p{padding: 20px;} */
.header {
  
  display: flex;
  height: 680px;
  background-image: url(/img/apple-pie.jpg);
  /* background-color: transparent; */
position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 150px;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;


}

article {
  /* font-size: 18px; */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.recipe {
  background-image: url(/img/recipe-info.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  padding-bottom: 100px;
}

ul {
  list-style-type: "-";
}

.cooking {
  display: flex;
  background-image: url(/img/cooking-info.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: bottom; */
  padding-bottom: 100px;

}

ol {
  counter-reset: myCounter;
  list-style: none;
}

ol>li::before {
  content: counter(myCounter) ")";
  counter-increment: myCounter;
}